/Wastelands/test/
/Wastelands/server/world_nether/
/Wastelands/server/world/
/Wastelands/server/world_the_end/
/Wastelands/server/logs/
/Wastelands/server/plugins/
/Wastelands/nbproject/private/
/Wastelands/build/